{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>MAUI - Feedback</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static '/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static '/css/templatemo-hexashop.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">
<!--

TemplateMo 571 Hexashop

https://templatemo.com/tm-571-hexashop

-->
    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="{% static '/images/logo.png' %}">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Inicio</a></li>
                            <li class="scroll-to-section"><a href="#men">Ceviches</a></li>
                            <li class="scroll-to-section"><a href="#women">Arroces</a></li>
                            <li class="scroll-to-section"><a href="#kids">Adicionales</a></li>
                            <li class="submenu">
                                <a href="javascript:;">MAUI</a>
                                <ul>
                                    <li><a href="about.html">Sobre nosotros</a></li>
                                    <li><a href="index.html#explore">Como ubicarnos</a></li>
                                    <li><a href="index.html#men">¡Ordenar!</a></li>
                                    <li><a href="contact.html">Dejar Feedback</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="#explore">Iniciar sesion</a></li>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading about-page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Déjanos tu comentario</h2>
                        <span>Tu comentario es tan importante como el sabor en los platillos</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Contact Area Starts ***** -->
    <div class="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d474.31557837778206!2d-70.23631218820809!3d-18.000840436366747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915ac5d018896449%3A0xa099decf99a3bd1a!2sMercado!5e0!3m2!1ses!2spe!4v1661220822157!5m2!1ses!2spe" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                      <!-- You can simply copy and paste "Embed a map" code from Google Maps for any location. -->
                      
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>¡Déjanos tu comentario!</h2>
                        <span>Siéntete libre de expresar tu opinion, nos ayuda a ser mejores.</span>
                    </div>
                    <form id="contact" action="" method="post">
                        <div class="row">
                          <div class="col-lg-6">
                            <fieldset>
                              <input name="name" type="text" id="name" placeholder="Tu nombre" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-6">
                            <fieldset>
                              <input name="email" type="text" id="email" placeholder="Tu correo" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset>
                              <textarea name="message" rows="6" id="message" placeholder="Tu comentario" required=""></textarea>
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset>
                              <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                          </div>
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Contact Area Ends ***** -->

    <!-- ***** Subscribe Area Starts ***** -->
    <div class="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-heading">
                        <h2>¿Deseas ver nuestra carta personalmente?</h2>
                        <span>Enviaremos a tu correo una carta personalizada para que puedas decidir mejor ;)</span>
                    </div>
                    <form id="subscribe" action="" method="get">
                        <div class="row">
                          <div class="col-lg-5">
                            <fieldset>
                              <input name="name" type="text" id="name" placeholder="Your Name" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-5">
                            <fieldset>
                              <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email Address" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-2">
                            <fieldset>
                              <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                            </fieldset>
                          </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-6">
                            <ul>
                                <li>Lugar del local:<br><span>Tacna, Tacna, Tacna</span></li>
                                <li>Teléfono:<br><span>010-020-0340</span></li>
                                <li>Local principal:<br><span>Mercado Francisco Lazo</span></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul>
                                <li>Hora de atención:<br><span>09:00 AM - 02:00 PM Diario</span></li>
                                <li>Email:<br><span>info@company.com</span></li>
                                <li>Redes sociales:<br><span><a href="https://www.facebook.com/mauitacna">Facebook</a>, <a href="#">Instagram</a>, <a href="#">Behance</a>, <a href="#">Linkedin</a></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Subscribe Area Ends ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img src="{% static '/images/white-logo.png' %}" style="margin-left: 41%;">
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2022 HexaShop Co., Ltd. All Rights Reserved. 
                        
                        <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a>

                        <br>Distributed By: <a href="https://themewagon.com" target="_blank" title="free & premium responsive templates">César Garay & Dánica Andrea</a></p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="{% static '/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static '/js/popper.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static '/js/owl-carousel.js' %}"></script>
    <script src="{% static '/js/accordions.js' %}"></script>
    <script src="{% static '/js/datepicker.js' %}"></script>
    <script src="{% static 'js/scrollreveal.min.js' %}"></script>
    <script src="{% static '/js/waypoints.min.js' %}"></script>
    <script src="{% static '/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static '/js/imgfix.min.js' %}"></script> 
    <script src="{% static '/js/slick.js' %}"></script> 
    <script src="{% static '/js/lightbox.js' %}"></script> 
    <script src="{% static '/js/isotope.js' %}"></script> 
    
    <!-- Global Init -->
    <script src="{% static '/js/custom.js' %}"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>
</html>